<html >
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>

<h1>Jogo de palavras em Inglês</h1>
<h2>Informe a palavra em inglês que representa a imagem abaixo:</h2>
<img style="width:300px; height:300px" src="<%= imagem %>">
<br>
<br>
<p><input type="text" size="15" value="" /></p>
<input type="submit" value="Enviar" />
<br>
<br>
<input type="submit" value="Ajuda" />
<input type="hidden">

</form>


</body>
</html>